.contributers_card_container {
   width: 100%;
   height: 100%;
   border-radius: 30px;
   display: flex;
   flex-direction: row;
}

.contributers_card_image_box {
   width: fit-content;
   height: 100%;
}

.contributers_card_image_box img {
   width: 450px;
   height: 300px;
   object-fit: cover;
   border-radius: 30px;
}

.contributers_card_details_box {
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}

.profile_details_sec {
   width: fit-content;
   height: 100%;
   background-color: white;
   padding: 20px 30px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
}

.contributers_card_contact_level {
   width: 60px;
   height: 100%;
   margin-left: auto;
   border-radius: 0 30px 30px 0;
}

.peofile_name_sec {
   width: fit-content;
   height: fit-content;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}

.peofile_name_and_batch {
   width: fit-content;
   height: fit-content;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

.peofile_name_and_batch h1 {
   font-size: 1.7rem;
   font-weight: 500;
}

.peofile_name_and_batch img {
   width: 1.5rem;
   height: 1.5rem;
}

.peofile_name_and_batch p {
   font-size: 13px;
   font-weight: 500;
   color: #838383;
}

.profile_working_status {
   font-size: 1.2rem;
   font-weight: 500;
   color: #838383;
}

.profile_service_sec{
   width: fit-content;
   height: fit-content;
   display: flex;
   flex-direction: column;
   align-items: first baseline;
   justify-content: center;
   gap: 5px;
   margin: 20px 0 20px 0;
}
.profile_service_sec h1{
   font-size: 1.2rem;
   font-weight: 500;
}

.services_batches{
   width: fit-content;
   height: fit-content;
   padding: 5px 20px;
   border-radius: 10px;
}
.services_batches p{
   font-size: 13px;
   font-weight: 500;
   color: #ffffff;
}

.services_batches_container{
   width: fit-content;
   height: fit-content;
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

.profile_statistic_sec{
   width: fit-content;
   height: fit-content;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 70px;
}

.profile_statistic_sec img{
   width: 50px;
}

.profile_statistic_rich{
   width: fit-content;
   height: fit-content;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

.profile_statistic_rich p{
   font-size: 15px;
   font-weight: 800;
   color: #838383;
}

.rech_details{
   width: fit-content;
   height: fit-content;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   gap: 5px;
}