.explore_post_container {
   width: 100%;
   height: 100%;
   padding: 0 var(--padding-x);
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   gap: 20px;
   margin: 50px 0;
   font-family: var(--Regular-Inter);
}


.explore_navbar_links {
   width: 100%;
   height: fit-content;
   padding: 1.3rem var(--padding-x);
   background: linear-gradient(to right, #00345B, #00213A);
   font-family: var(--Regular-Inter);
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
   gap: 10px;
   cursor: pointer;
}

.explore_navbar_links li {
   list-style: none;
   color: white;
   font-size: 1.2rem;
   font-weight: 500;
   padding: 0.5rem 1rem;
   border-radius: 10px;
   transition: all 0.3s ease;
   border: 1px solid #ffffff;
}

.publicpost_container {
   width: 100%;
   height: 100vh;
   padding: 0 var(--padding-x);
   display: flex;
   flex-direction: column;
   /* flex-wrap: wrap; */
   /* justify-content: center; */
   gap: 20px;
   margin-top: 20px;
   font-family: var(--Regular-Inter);
}

.publicpost_feature_product_container {
   width: 100%;
   height: fit-content;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.publicpost_ifream_container {
   width: 100%;
   height: 40rem;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-evenly;
   margin-top: 10px;
   border-radius: 10px;
}

.publicpost_ifream_container iframe {
   width: 100%;
   height: 100%;
   border-radius: 10px;
}

.publicpost_container_heading_container {
   width: 100%;
   height: fit-content;
}

.publicpost_feature_product_details_container {
   width: 100%;
   margin-top: 20px;
}

.publicpost_container_heading_container h1 {
   font-size: 2rem;
}

.title_order_btn {
   width: 100%;
   height: fit-content;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.title_order_btn h1 {
   font-size: 2rem;
   font-weight: 500;
}

.title_order_btn button {
   padding: 0.5rem 1rem;
   border: none;
   border-radius: 10px;
   background: #007810;
   color: white;
   font-size: 1.2rem;
   cursor: pointer;
   transition: all 0.3s ease;
}

.desc_post_container {
   width: 100%;
}

.desc_post_container p{
   font-size: 1.3rem;
}