.hero_text_container {
   width: 100%;
   height: fit-content;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 50px;
   padding: 10px 0px;
   background-color: white;
}

.text_gradient{
   width: fit-content;
    background: linear-gradient(to right, #F15A59, #000000);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}