/* Base Styles for Skeletons */
.heiglight_offers_container_box_skelliton,
.heiglight_devaloper_container_skelliton,
.product_item_skelliton {
   background-color: #53535334;
   border-radius: 10px;
   overflow: hidden;
   position: relative;
}

/* Shimmer Animation */
@keyframes shimmer {
   0% {
      background-position: -100% 0;
   }

   100% {
      background-position: 100% 0;
   }
}

/* Common Shimmer Effect */
.skeleton-shimmer {
   background: linear-gradient(90deg, #53535334 25%, #b7b7b737 50%, #53535334 75%);
   background-size: 200% 100%;
   animation: shimmer 1.5s infinite linear;
}

/* Skeleton Specific Sizes */
.heiglight_offers_container_box_skelliton {
   width: 100%;
   height: 200px;
}

.heiglight_devaloper_container_skelliton {
   width: 100vw;
   height: 300px;
}

.product_item_skelliton {
   width: 100vw;
   height: 20rem;
}

/* Applying Shimmer to Skeletons */
.heiglight_offers_container_box_skelliton,
.heiglight_devaloper_container_skelliton,
.product_item_skelliton {
   background-color: transparent;
   background-image: linear-gradient(90deg,
         rgba(83, 83, 83, 0.2) 25%,
         rgba(183, 183, 183, 0.4) 50%,
         rgba(83, 83, 83, 0.2) 75%);
   background-size: 200% 100%;
   animation: shimmer 1.5s infinite linear;
}


/* Welcome level */

.welcome_level_home {
   width: 100%;
   height: fit-content;
   padding: 1.3rem var(--padding-x);
   /* background: linear-gradient(to right, #00345B, #00213A); */
   font-family: var(--Regular-Inter);
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   gap: 10px;
}

.welcome_level_title {
   color: white;
   font-size: 1rem;
   font-weight: 700;
   margin: 0;
}

.welcome_level_text {
   color: white;
   font-size: 1.5rem;
   font-weight: 400;
   margin: 0;
}

.wellcome_message_container_text {
   width: 100%;
   height: fit-content;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 20px;
}

.heiglight_offers {
   width: 100%;
   height: fit-content;
   padding: 3rem var(--padding-x);
   font-family: var(--Regular-Inter);
}

.heading_short_message {
   font-size: 1rem;
   font-weight: 700;
   color: #ffffff;
   padding: 0.2rem 0.5rem;
   border-radius: 5px;
   border: 2px solid transparent;
   background-color: #53535334;
   position: relative;
   overflow: hidden;
}

@keyframes shimmer {
   0% {
      background-position: -100% 0;
   }

   100% {
      background-position: 100% 0;
   }
}

.heading_short_message {
   background-image: linear-gradient(90deg,
         rgba(83, 83, 83, 0.2) 25%,
         rgba(183, 183, 183, 0.4) 50%,
         rgba(83, 83, 83, 0.2) 75%);
   background-size: 200% 100%;
   animation: shimmer 1.5s infinite linear;
}


/* offers components */
.heiglight_offers_container_box_heading {
   font-size: 1.5rem;
   font-weight: 500;
   padding: 0 15px;
}

.heiglight_offers_details_container {
   width: 100%;
   height: 180px;
   position: relative;
   display: flex;
   flex-direction: row;
   border: 1px solid #5F5F5F;
   padding: 15px;
   margin-top: 20px;
   border-radius: 10px;
   transition: all 0.3s ease-in-out;
   cursor: pointer;
}

.heiglight_offers_details_container:hover {
   border: 1px solid #00db1d;
}

.heiglight_offers_details_container:hover .buy_now_text {
   background: #00db1d;
   color: #000000;
}

.heiglight_offers_details_container:hover .heiglight_offers_details_title {
   background: #00db1d;
   color: #000000;
}

.heiglight_offers_image_container {
   width: fit-content;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   border-radius: 10px;
}

.heiglight_offers_image_container img {
   width: 100%;
   height: 100%;
   aspect-ratio: 16 / 9;
   object-fit: cover;
   border-radius: inherit;
}

.heiglight_offers_details {
   width: fit-content;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 0 0 0 40px;
}

.heiglight_offers_details_title {
   width: fit-content;
   height: fit-content;
   padding: 0px 10px;
   border-radius: 5px;
   font-size: 1.1rem;
   font-weight: 500;
   color: #5F5F5F;
   transition: all 0.3s ease-in-out;
}
.heiglight_offers_details_prise{
   margin-top: 10px
}

.heiglight_offers_details_content,
.heiglight_offers_details_prise {
   font-size: 1.3rem;
   font-weight: 600;
   color: #ffffff;
   display: flex;
   gap: 20px;
}

.buy_now_text {
   width: fit-content;
   height: fit-content;
   padding: 5px 10px;
   border-radius: 5px;
   position: absolute;
   right: 2rem;
   top: 1rem;
   transition: all 0.3s ease-in-out;
   color: white;
}

.priseBefore {
   text-decoration: line-through;
   color: #ffffff;
}

.priseNow {
   color: #00db1d;
}

.countdown {
   font-size: 1.1rem;
   font-weight: 500;
   color: #ffffff;
}

/* All Developers components */
.devaloper_Count {
   color: #00db1d;
}

.All_Developers {
   width: 100%;
   height: fit-content;
   padding: 0rem var(--padding-x);
   font-family: var(--Regular-Inter);
}

.all_services {
   width: 100%;
   height: fit-content;
   padding: 0rem var(--padding-x);
   font-family: var(--Regular-Inter);
   margin-top: 100px;
}

.heiglight_devaloper_container {
   width: 100%;
   height: fit-content;
   margin: 0;
   padding: 0 15px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.heiglight_devaloper_container_h1 {
   font-size: 1.5rem;
   font-weight: 500;
}

.heiglight_devaloper_container_p {
   font-size: 1.3rem;
   font-weight: 400;
}

.users_swiper_slider {
   width: 100%;
   height: fit-content;
   margin-top: 10px;
   border-radius: 10px;
}

.swiper {
   width: 100%;
   height: 100%;
   padding: 15px;
}

.swiper-slide {
   width: 100%;
   height: fit-content;
}

.indivisual_dev_cards_box {
   width: 100%;
   height: 20rem;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
   gap: 10px;
   padding: 15px;
   border-radius: 10px;
   background: linear-gradient(to right, #00345B, #00213A);
}

.dev_card_name_profile {
   display: flex;
   align-items: center;
   gap: 20px;
   font-size: 1.5rem;
   font-weight: 500;
   color: #ffffff;
   width: 100%;
   height: auto;
   /* Use 'auto' instead of 'fit-content' for better browser compatibility */
}

.dev_card_profile_img {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   overflow: hidden;
}

.dev_card_name_varify_tick_role {
   display: flex;
   align-items: flex-start;
   gap: 15px;
   height: auto;
   width: auto;
}

.dev_card_name_varify_tick {
   display: flex;
   align-items: center;
   gap: 8px;
}

.dev_card_profile_role {
   font-size: 1rem;
   font-weight: 400;
   color: #ffffff;
}


.dev_card_user_rich {
   width: 100%;
   height: auto;
   padding: 0 15px;
   margin-top: auto;
   display: flex;
   align-items: center;
   justify-content: space-around;
   gap: 20px;
}

.dev_card_user_richable,
.dev_card_user_service {
   display: flex;
   align-items: center;
   gap: 15px;
   width: auto;
   height: auto;
}

.dev_card_user_icons {
   width: 45px;
   height: 45px;
}

.dev_card_see_profile_btn {
   width: 100%;
   height: fit-content;
   padding: 5px 10px;
   border-radius: 5px;
   font-size: 1.2rem;
   font-weight: 500;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
   margin-top: 15px;
}

.see_profile {
   width: 100%;
   height: fit-content;
   padding: 5px 10px;
   border-radius: 5px;
   color: #ffffff;
   font-size: 1.2rem;
   font-weight: 500;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}

.dev_card_service {
   width: 100%;
   height: fit-content;
   padding: 0 15px;
}

.dev_card_work_as {
   font-size: 1.1rem;
   font-weight: 500;
   color: #989898;
}

.dev_card_work_as_text {
   font-size: 1.2rem;
   margin-top: 10px;
   font-weight: 500;
}

/* products */

.product_section_container {
   width: 100%;
   height: fit-content;
   font-family: var(--Regular-Inter);
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.product_section_title {
   font-size: 1.5rem;
   font-weight: 500;
}

.product_section_button {
   color: #ffffff;
   font-size: 1.2rem;
   font-weight: 500;
   padding: 5px 10px;
   border-radius: 5px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}

.product_list {
   width: 100%;
   height: fit-content;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 20px;
   margin-top: 20px;
}

.indivisual_dev_cards_box_products {
   width: 23rem;
   height: fit-content;
   border: 1px solid #5F5F5F;
   border-radius: 10px;
   padding: 15px;
   transition: all 0.3s ease-in-out;
   cursor: pointer;
}

.dev_products_image_box {
   width: 100%;
   height: fit-content;
   overflow: hidden;
   border-radius: 10px;
}

.dev_products_image {
   width: 100%;
   height: 100%;
   aspect-ratio: 16/9;
   object-fit: cover;
   border-radius: inherit;
}

.dev_products_title {
   font-size: 1rem;
   font-weight: 700;
   margin-top: 10px;
   color: #ffffff;
}

.dev_products_content {
   font-size: 1rem;
   font-weight: 500;
   margin-top: 10px;
   color: #C3C3C3;
}

.dev_product_prise {
   font-size: 1.5rem;
   font-weight: 500;
   margin-top: 10px;
   color: #ffffff;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.prise_container {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 15px;
}

.buynow_btn_product_card {
   width: fit-content;
   height: fit-content;
   font-size: 1rem;
   padding: 0 10px;
   transition: all 0.3s ease-in-out;
}


.indivisual_dev_cards_box_products:hover {
   border: 1px solid #00db1d;
}

.indivisual_dev_cards_box_products:hover .buynow_btn_product_card {
   background: #00db1d;
   color: #000000;
}