.myacount_container {
   width: 100%;
   height: 90vh;
   padding: 0 var(--padding-x);
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   font-family: var(--Regular-Item);
}

.myacount_container_card {
   width: 100%;
   height: 70vh;
   display: flex;
   flex-direction: row;
   align-items: start;
   justify-content: space-evenly;
   flex-wrap: wrap;
   gap: 10px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.myacount_container_outlet {
   width: 70%;
   height: fit-content;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: flex-start;
   border-radius: 10px;
   border: 1.5px solid #5F5F5F;
}

/* sidebar */
.myacount_sidebar_container {
   width: 20%;
   height: fit-content;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   gap: 30px;
}

.myacount_sidebar_link {
   width: 100%;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 15px;
   padding-left: 20px;
   color: white;
   text-decoration: none;
   font-size: 1.5rem;
   position: relative;
   overflow: hidden;
   transition: background-color 0.5s ease, color 0.5s ease;
}

.shining_effect::before {
   content: "";
   position: absolute;
   top: 0;
   left: -100%;
   width: 100%;
   height: 100%;
   background: linear-gradient(120deg, transparent, #ffffff3e, transparent);
   animation: slideEffect 1.8s ease-in-out infinite;
}

@keyframes slideEffect {
   0% {
      left: -100%;
   }

   100% {
      left: 100%;
   }
}

.shining_effect:hover {
   color: #f0f0f0;
}

.NavlinkActive {
   background-color: #002749;
}

/* my profile section */


.my_profile_details_container {
   width: 100%;
   height: fit-content;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: start;
   gap: 20px;
}

.profile_name_details_box {
   width: fit-content;
   height: fit-content;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   gap: 20px;
}

.profile_avatar {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: #f0f0f0;
}

.profile_avatar img {
   width: 100%;
   height: 100%;
   border-radius: 50%;
}

.profile_name {
   width: fit-content;
   height: fit-content;
   display: flex;
   align-items: start;
   justify-content: center;
   gap: 10px;
}

.profile_name p {
   font-size: 1.5rem;
}

.profile_last_updated_box {
   width: 100%;
   height: fit-content;
   font-size: 1.2rem;
   margin-top: auto;
}
.myprofile_chnagepassword_container{
   width: 100%;
   height: fit-content;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 20px;
}







/* Responsive Styles */
@media (max-width: 1024px) {
   .myacount_container {
      flex-direction: column;
      height: auto;
      padding: 20px var(--padding-x);
   }

   .myacount_container_card {
      height: auto;
   }

   .myacount_container_outlet {
      width: 100%;
   }

   .myacount_sidebar_container {
      width: 100%;
      gap: 20px;
   }

   .myacount_sidebar_link {
      font-size: 1.3rem;
      height: 45px;
   }
}

@media (max-width: 768px) {
   .myacount_container {
      padding: 10px var(--padding-x);
   }

   .myacount_sidebar_container {
      gap: 15px;
   }

   .myacount_sidebar_link {
      font-size: 1.2rem;
      height: 40px;
      padding-left: 15px;
   }
}

@media (max-width: 500px) {
   .myacount_container {
      padding: 5px var(--padding-x);
   }

   .myacount_container_card {
      flex-direction: column;
      height: auto;
      gap: 8px;
   }

   .myacount_container_outlet {
      width: 100%;
   }

   .myacount_sidebar_container {
      width: 100%;
      gap: 10px;
   }

   .myacount_sidebar_link {
      font-size: 1rem;
      height: 35px;
      padding-left: 10px;
   }
}

/* form style */
.edit_btn_container {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   gap: 10px;
}

.my_profile_edit_btn {
   background-color: #007bff;
   color: #fff;
   border: none;
   padding: 0 1rem;
   border-radius: 0.25rem;
   cursor: pointer;
   font-size: 1rem;
}

.my_profile_form_container {
   width: 100%;
   height: fit-content;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: flex-start;
   gap : 20px;
}

.my_profile_form_control {
   background-color: transparent;
   border-radius: 0.25rem;
}

.my_profile_form_group {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   padding: 5px;
   border-bottom: 1px solid #5F5F5F;
}

.my_profile_form_group label {
   width: 200px;
   height: fit-content;
   display: block;
   font-weight: 500;
   font-size: 1.5rem;
}

.my_profile_form_group input.my_profile_form_control {
   width: 100%;
   height: fit-content;
   font-size: 1.1rem;
}

.my_profile_submit_btn {
   background-color: #007bff;
   color: #fff;
   border: none;
   padding: 0 1rem;
   border-radius: 0.25rem;
   cursor: pointer;
   font-size: 1rem;
}