.navbar_container {
   width: 100%;
   height: var(--navbar-height);
   padding: 20px var(--padding-x);
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.left_navbar_container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
}

.navbar_logo {
   font-size: 1.8rem;
   display: flex;
   align-items: center;
   gap: 10px;
   font-weight: 700;
}

/* .text_gradient {
   background: linear-gradient(90deg, #ffffff, #00DB1D);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.logo_normal_text {
   background: linear-gradient(90deg, #FF671F, #ffffff);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
} */

.input_field_container {
   width: 300px;
   margin-left: 30px;
   padding: 0px 10px;
   border: 2px solid #555;
   border-radius: 10px;
   display: flex;
}

.dark_mode_dropdown {
   background-color: transparent;
   color: #5F5F5F;
   padding: 0.5rem;
   border-radius: 5px;
   font-size: 1.2rem;
   appearance: none;
   cursor: pointer;
   transition: background-color 0.3s, border-color 0.3s;
   width: 100%;
}

.dark_mode_dropdown:focus {
   outline: none;
}

.dark_mode_dropdown option {
   background-color: #333;
   color: #fff;
}

.right_navbar_container {
   width: fit-content;
   height: fit-content;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   gap: 25px;
}

.navbar_link {
   color: white;
   text-decoration: none;
   font-size: 1.2rem;
   font-weight: 700;
   transition: color 0.3s;
}

.navbar_profile {
   width: 50px;
   height: fit-content;
   border-radius: 50%;
}

.navbar_profile_container {
   position: relative;
   display: inline-block;
}

.dropdown_menu {
   width: 200px;
   position: absolute;
   top: 80px;
   right: var(--padding-x);
   background-color: #00345B;
   color: #ffffff;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
   z-index: 1;
   border-radius: 5px;
}

.dropdown_menu a {
   color: rgb(255, 255, 255);
   padding: 12px 16px;
   font-size: 1.1rem;
   font-weight: 500;
   text-decoration: none;
   display: block;
   transition: background-color 0.3s ease-in-out;
   display: flex;
   flex-direction: row;
   gap: 10px;
}

.dropdown_menu_logout {
   width: 20px;
}

.dropdown_menu a:hover {
   background-color: #004e89;
}

.navbar_link_github {
   width: 30px;
   height: 30px;
   margin-left: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.navbar_link_tweeter {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding: 6px;
   border-radius: 5px;
   gap: 5px;
   background-color: #00345B;
}

.navbar_link_tweeter img {
   width: 20px;
   height: 20px;
}

.navbar_link_tweeter p {
   color: white;
   font-size: 15px;
   font-weight: 500;
   margin: 0;
   padding: 0;
}

.login_navbar_link {
   background-color: #FF671F;
   color: white;
   padding: 0 15px;
   border-radius: 5px;
   margin-left: 10px;
}

.navbar_link_profile {
   width: fit-content;
   height: fit-content;
}



/* mobile screen */
/* 1371px */
@media screen and (max-width: 1371px) {
   .input_field_container {
      display: none;
   }

   .navbar_link_tweeter {
      display: none;
   }

   .navbar_container {
      padding: 20px 5rem;
   }

}

/* 1081px  */
@media screen and (max-width: 1081px) {
   .navbar_logo img {
      width: 140px;
   }

   .navbar_link_github {
      width: 25px;
   }

   .navbar_profile {
      width: 40px;
   }

   .navbar_link {
      font-size: 1rem;
   }

   .navbar_container {
      padding: 20px 3rem;
   }
}

/* 471px */
@media screen and (max-width: 521px) {
   .navbar_logo img {
      width: 100px;
   }

   .navbar_link_github {
      width: 20px;
   }

   .navbar_profile {
      width: 30px;
   }

   .navbar_link {
      font-size: 0.9rem;
   }

   .right_navbar_container {
      gap: 10px;
   }

   .navbar_container {
      padding: 10px 2rem;
   }
}

/* 329px */
@media screen and (max-width: 329px) {

   .navbar_link_about,
   .navbar_link_explore {
      display: none;
   }

   .navbar_link_github {
      margin-left: 10px;
   }
}