.navbar_container {
   width: 100%;
   height: var(--navbar-height);
   padding: 0 var(--padding-x);
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.left_navbar_container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   gap: 5rem;
}

.navbar_logo {
   font-size: 1.8rem;
   display: flex;
   align-items: center;
   gap: 10px;
   font-weight: 700;
}

.text_gradient {
   background: linear-gradient(90deg, #FFF455, #D2649A);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.logo_normal_text {
   color: #fff455;
}

.input_field_container {
   width: 300px;
   padding: 0px 10px;
   border: 2px solid #555;
   border-radius: 10px;
   display: flex;
}

.dark_mode_dropdown {
   background-color: transparent;
   color: #5F5F5F;
   padding: 0.5rem;
   border-radius: 5px;
   font-size: 1.2rem;
   appearance: none;
   cursor: pointer;
   transition: background-color 0.3s, border-color 0.3s;
   width: 100%;
}

.dark_mode_dropdown:focus {
   outline: none;
}

.dark_mode_dropdown option {
   background-color: #333;
   color: #fff;
}

.right_navbar_container {
   width: fit-content;
   height: fit-content;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 3rem;
   color: white;
}

.navbar_link{
   color: white;
   text-decoration: none;
   font-size: 1.2rem;
   font-weight: 700;
   transition: color 0.3s;
}

.navbar_profile{
   width: 50px;
   height: 50px;
   border-radius: 50%;
}