.notification_container {
   width: 100%;
   height: fit-content;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   gap: 50px;
   padding: 10px 0px;
   background: linear-gradient(to right, #720000, #FFFFFF);
}

.notification_container p{
   color: #FFFFFF;
   font-weight: 800;
}
.notification_container a{
   color: #880000;
   font-weight: 900;
}