/* for public account */
.public_account_container {
   width: 100%;
   height: fit-content;
   margin-top: 50px;
   display: flex;
   gap: 20px;
   padding: 0 var(--padding-x);
}

.public_profile_details_sidebar_container {
   width: 20vw;
   padding: 20px;
   border-radius: 10px;
}

.avatar_section {
   width: fit-content;
   height: fit-content;
   display: flex;
   align-items: start;
   justify-content: flex-start;
   text-align: center;
   margin-bottom: 20px;
}

.avatar_image {
   width: 250px;
   height: 250px;
   border-radius: 50%;
   object-fit: cover;
}

.profile_details_section {
   width: fit-content;
   height: fit-content;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
   margin-bottom: 50px;
}

.full_name {
   font-size: 24px;
   font-weight: bold;
}

.username {
   font-size: 1.3rem;
   color: #777;
}

.role {
   font-size: 18px;
   color: #ffffff;
   font-weight: 500;
   margin: 10px 0;
}

.portfolio_link {
   text-decoration: underline;
   font-size: 1rem;
   font-weight: 500;
   margin-bottom: 10px;
   text-align: initial;
}

.portfolio_link,
.media_link a {
   color: #ffffff;
   /* text-decoration: none; */
}

.portfolio_link:hover,
.media_link a:hover {
   text-decoration: underline;
}

.profile_stats_section {
   margin-top: 20px;
   font-size: 14px;
   color: #555;
}

.happy_customers,
.profile_rich,
.rating {
   margin: 5px 0;
}

.public_profile_post_container {
   width: 70%;
   background-color: #fff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.post_card {
   padding: 10px;
   background-color: #f9f9f9;
   border-radius: 8px;
   margin-bottom: 10px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.public_account_container {
   width: 100%;
   height: fit-content;
}

.public_profile_posts {
   width: fit-content;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   flex-wrap: wrap;
   gap: 20px;
}