.my_profile_container {
   width: 100%;
   min-height: 100vh;
   background: #ffffff;
   padding: 40px 0;
   display: flex;
   justify-content: center;
   align-items: flex-start;
}

.my_profile_box {
   width: 800px;
   background: #fff;
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}

.my_profile_head_container {
   width: 100%;
   height: 350px;
   text-align: center;
   position: relative;
}

.my_profile_cover_image {
   width: 100%;
   height: 200px;
   overflow: hidden;
}

.my_profile_cover_image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.my_profile_avatar {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   background: #f0f0f0;
   border: 5px solid #fff;
   position: absolute;
   top: 45%;
   left: 15%;
   transform: translateX(-50%);
   z-index: 1;
}

.my_profile_avatar img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 50%;
}

.my_profile_name {
   width: fit-content;
   height: fit-content;
   position: absolute;
   bottom: 10%;
   left: 30%;
   padding: 0 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 40px;
}

.profile_name_username {
   width: fit-content;
   height: fit-content;
   display: inline-block;
   padding: 10px 20px;
   background: #fff;
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   text-align: left;
   position: relative;
}

.name_and_varifyed_batch {
   width: 100%;
   height: fit-content;
   display: flex;
}


.profile_name_username h1 {
   font-size: 2.1rem;
   font-weight: 600;
   color: #333;
   margin: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}

.profile_name_username h2 {
   font-size: 1.1rem;
   font-weight: 400;
   color: #666;
   margin: 0;
}

.name_and_varifyed_batch {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
}

.varified_batch {
   width: 30px;
   height: 30px;
}

.edit_btn_profile {
   width: fit-content;
   padding: 6px 15px;
   background-color: #F15A59;
   color: white;
   font-size: 1.2rem;
   font-weight: 800;
   border-radius: 10px;
}

.my_profile_details_container {
   width: 100%;
   padding: 2px 40px 40px 40px;
}

.bio_fild_section {
   width: 100%;
   height: fit-content;
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   margin: 10px 0;
}

.bio_fild_section h2,
.contact_fild_section h2,
.role_fild_section h2,
.medialinks_fild_section h2,
.keywords_fild_section h2 {
   font-size: 1.4rem;
   font-weight: 900;
   color: #7B7B7B;
   margin: 7px 5px;
}

.bio_fild_section p,
.contact_fild,
.role_workAs,
.medialinks_fild,
.keywords_fild {
   width: 100%;
   font-size: 1.3rem;
   font-weight: 400;
   margin: 0;
   padding: 10px;
   color: #7B7B7B;
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-direction: row
}

.forword_arrow_icon {
   margin-left: 10px;
}

.role_workAs_batchs {
   background-color: #8BA100;
   color: white;
   padding: 1px 9px;
   font-size: 1rem;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 30px;
}

.medialinks_fild_item {
   width: fit-content;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-direction: row;
   margin-right: 10px;
   gap: 10px;
}

.keywords_fild_item {
   width: fit-content;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-direction: row;
   font-size: 1rem;
   margin-right: 10px;
   padding: 1px 10px;
   border-radius: 10px;
   gap: 10px;
   background-color: #A10091;
   color: white;
}

.change_password_logout_btn{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
   margin-top: 50px;
}