@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.home_container {
   width: 100%;
   height: fit-content;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   position: relative;
}

.wave-top {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1;
}

.home_hero_container_headline {
   width: 100%;
   height: fit-content;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 50px 50px 0 50px;
   gap: 3rem;
   z-index: 1;
}

.home_hero_container_subheading {
   font-size: 1.5rem;
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   letter-spacing: 1px;
   text-align: center;
}

.home_hero_container_cover {
   width: 100%;
   height: 70vh;
   background-image: url(../assets/banners/home_hero_cover.webp);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   padding-top: 200px;
}

.dropdown_container {
   width: 400px;
   height: 70px;
   border: 1px solid #333;
   padding: 7px;
   border-radius: 70px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.hero_btn_find {
   width: fit-content;
   height: 90%;
   padding: 5px 45px;
   background-color: #F15A59;
   color: white;
   font-size: 1.2rem;
   font-weight: 800;
   border-radius: 50px;
}

.premium-dropdown {
   appearance: none;
   width: 100%;
   padding: 12px 16px;
   background-color: transparent;
   font-size: 1.3rem;
   font-family: 'Arial', sans-serif;
   color: #333;
   cursor: pointer;
   outline: none;
}

.dropdown-container option {
   width: fit-content;
   font-size: 20px;
   font-family: 'Arial', sans-serif;
   color: #333;
   background-color: #fff;
   border-radius: 8px;
}