@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 300vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #021526;
  color: white;
}

.hero_btn {
  width: fit-content;
  padding: 5px 20px;
  background-color: #F15A59;
  color: white;
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 10px;
}

.home_page_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

input {
  border: none;
  outline: none;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

/* Custom scrollbar styles for WebKit browsers */
::-webkit-scrollbar {
  width: 3px;
}

/* Track (part of the scrollbar not filled by the thumb) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle (part of the scrollbar that moves) */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}